{% extends "template.html" %}
{% block conteudo %}
    <main>
        <h1>cadastro</h1>
        <ul class="listprod">
            <a href="{{url_for('cadastro_funcionario')}}">
                <li>
                    <p>Funcionários</p>
                    <img src="{{url_for('static', filename='image/icon-funcionario.jpg')}}">
                </li>
            </a>
            <a href="{{url_for('cadastro_funcionario')}}">
                <li>
                    <p>Clientes</p>
                    <img src="{{ url_for('static', filename='image/icon-cliente.png')}}">
                </li>
            </a>
            <a href="cadastro-projetos.html">
            <li>
                <p>Projetos</p>
                <img src="../styles/image/icon-projeto-branco.png">
            </li>
            </a>
        </ul>
    </main>
    {% endblock %}