{% extends "template.html" %}
{% block conteudo %}
    <main>
        <h1>cadastro</h1>
        <ul class="listprod">
            <a href="cadastro-funcionario.html">
                <li>
                    <p>Funcionários</p>
                    <img src="../styles/image/icon-funcionario.jpg">
                </li>
            </a>
            <a href="cadastro-cliente.html">
                <li>
                    <p>Clientes</p>
                    <img src="../styles/image/icon-cliente.png">
                </li>
            </a>
            <a href="cadastro-projetos.html">
            <li>
                <p>Projetos</p>
                <img src="../styles/image/icon-projeto-branco.png">
            </li>
            </a>
        </ul>
    </main>
    {% endblock %}