<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <header>
        <div class="caixa">
            <div class="logo">
                <img src="{{ url_for('static', filename='image/logo-completa-preta.jpeg') }}">
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">HOME</a></li>
                    <li><a href="{{ url_for('cadastro')}}">Cadastro</a></li>
                </ul>
            </nav>
        </div>
    </header>

    {% block conteudo %}{% endblock %}

    <footer>

        <p class="copyright">&copy; Copyright Atenas Engenharia - 2022 </p>
    </footer>
</body>
</html>